<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="icon" href="../static/img/discord.png">
    <title>Portföy</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">Müzibot</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#about">Discord botumla alakalı</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#skills">Discord sunucunuza botu eklemek için link</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Önizleme bölümü -->
      <section class="main__home home" id="home">
        <h1 class="home__title">MÜZİBOT</h1>
        <p class="home__subtitle">Yeni nesil müzik seçici yapay zekalı bot</p>
        <a class = "mic__button" href = "/record" >Sitede Sesle Gezinin</a>
        <p class="home__subtitle2">Tıklayın, sayfalardan birinin adını söyleyin ve sizi sayfaya götürsün! Ama sık sık hata yapar sürekli yeniden deneyin!</p>
      </section>

      <!-- Hakkımda bölümü -->
      <section class="main__about about" id="about">
        <h2 class="about__title">Discord botumla alakalı</h2>
        <div class="about__info info-block">
          <p class="info-block__text">
           Discord botum, müzibot, ona gönderilen komutla beraber bir emoji resmi atıldığında, emojinin durumunu yapay zeka ile kontrol edip, ona göre bir müzik linki gönderiyor. Yani, ona kızgın olan bir emoji resmi atıldığında, karşıdakinin kızgın olduğunu anlıyor ve ona rahatlatıcı, huzurlu veya mutlu müzik olmak üzere müzik linkleri gönderiyor. Ama bunu duruma göre yapıyor. örneğin mutluysa ona göre müzik linkleri, şaşkınsa ona göre müzik linkleri gönderiyor.
          </p>
          <img
            class="info-block__img"
            src="../static/img/logo-photoaidcom-cropped.jpg"
            alt="me"
            width="250"
            height="250"
          />
        </div>
      </section>
      <!-- Beceriler bölümü -->
      <section class="main__skills skills" id="skills">
        <h2 class="skills__title">Discord sunucunuza botu eklemek için link</h2>
        <p class="info-block__text">Discord sunucunuza botu eklemek için link</p>
              {% if button_python%}
          </div>
        {% endif %}
              {% if button_python%}
        {% endif %}
              {% if button_python%}
        {% endif %}
        {% if button_python%}
          </div>
        {% endif %}
      </section>
      <!-- Geri bildirim formu -->
      </section>
    </main>
    <!-- Sosyal medya bağlantıları için bir alt bilgi -->
    <footer>

    </footer>
  </body>
</html>
